 <!-- titulo -->
 <div class="row">
    <div class="col-lg-12">
        <h3 class="page-header"><i class="fa fa-user-plus"></i> Nuevo negocio </h3>
    </div>
</div>

   <!-- Contenido  -->
   <div class="content">
      <div class="col-lg-8">
            <form  class="" id="clienteForm" enctype="multipart/form-data">
              
              <label>Cliente:</label>
              <select name="cliente" class="form-control" required>
                <option value=""></option>
              </select>
  
              <label>Nombre del negocio:</label>
              <select name="nombrenegocio" class="form-control" required>
                <option value=""></option>
              </select>
   
              <label>Tipo de negocio:</label>
              <select name="tipo" class="form-control" required>
                <option value=""></option>
              </select>
 
            <label>
                Descripción del negocio: 
            </label>
            <textarea name="" id="" cols="30" rows="3" class="form-control" required></textarea>
 
            <label>Zona asignada:</label>
            <select name="zona" class="form-control" required>
              <option value=""></option>
            </select>


            <label>
                Comentarios: 
            </label>
            <textarea name="" id="" cols="30" rows="3" class="form-control" required></textarea>
  
            <br><br>
            <!-- boton guardar -->
            <input  type="submit" value="Registrar"  class="btn btn-success" name="guardar" title="Registrar">
            <button class="btn btn-primary" style="margin-left: 3px">Limpiar Formulario</button> 
            </form>
      </div>
  </div>
  
      

