
<!-- titulo -->
<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header"><i class="fa fa-user"></i> Lista de Clientes</h3>
    </div>
  </div>

  <!-- Contenido  -->
<div class="row">
    <div class="row">
        <!-- Inicio tabla -->
        <div class="col-lg-12">
                <section class="panel"> 
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                        <tr>
                            <th><i class="fa fa-user"></i> Nombre</th>
                            <th><i class="fa fa-mobile"></i> Telefono</th>
                            <th><i class="fa fa-briefcase"></i> INE</th>
                            <th><i class="fa fa-neuter"></i>Domicilio</th>
                        </tr>
                       </tbody>
                    </table>
                </div>
                </section>
            </div> 
        </div>        
    </div>  