<!-- titulo -->
<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header"><i class="fa fa-user"></i> Investigaciones pendientes</h3>
    </div>
</div> 

<h4>Paso 1. Saludar y ser amable con el cliente...</h4> 
<p>
    ¡BUENOS DIAS! ¿COMO SE ENCUENTRA EL DIA HOY? <br>
    PERFECTO, QUE GUSTO EN ATENDERLE, SOY LA LIC. ____________________ REPRESENTANTE  DE <b>CONSORCIO PRÉSTAMOS
    AL INSTANTE</b> O <b>PRÉSTAMOS AL INSTANTE</b> Y LAS SIGUIENTES PREGUNTAS SERAN REALIZADAS PARA EL ANALISIS Y
    RESOLUCION DE SU SOLICITUD CREDITICIA Y SERA GRABADA CON FINES DE CALIDAD EN EL SISTEMA.    
</p>

<hr>
<h4>Paso 2. Confirmar datos con el cliente</h4> 

<!-- Contenido  -->
<div class="row">
    <div class="col-lg-8">
        <form  class="" id="investigacionesForm">
            <label>
                Nombre del cliente: 
            </label>
            <input type="text"   class="form-control" name="nombre" required>

            <label>
                Giro del negocio: 
            </label>
            <input type="text"   class="form-control" required>

            <label>
                Zona que pertenece el negocio: 
            </label>
            <input type="text"   class="form-control" required>

            <label>
                Cobrador de zona: 
            </label>
            <input type="text"  class="form-control" required>

            <label>
                Telefonos: 
            </label>
            <input type="text" class="form-control" required>

            <label>
                Propietario del negocio o Empleado:
            </label>
            <select class="form-control m-bot15 " name="propietario" required>
                    <option value="propietario">Propietario</option>
                    <option value="empleado">Empleado</option> 
            </select>

            <label>
                Años del negocio: 
            </label>
            <input type="text" class="form-control" required>
    
            <label>
                El comercio es:
            </label>
            <select class="form-control m-bot15 " name="comercio" required>
                    <option value="fijo">fijo</option>
                    <option value="ambulante">ambulante</option> 
                    <option value="casa">casa propia</option>  
            </select>

            <label>
                Referencias del negocio: 
            </label>
            <textarea name="" id="" cols="30" rows="3" class="form-control" required></textarea>

            <label>
                Contrato de arrendamiento: 
            </label><br>
            <button class="btn btn-info" style="margin-left: 3px"><i class="fa fa-eye"></i>Ver contrato</button>      

            <br>  
            <label>
                Ubicación: 
            </label><br>
            <button class="btn btn-info" style="margin-left: 3px"><i class="fa fa-eye"></i>Ver Ubicación</button> <br>
            
            <label>
            Fotografias de documentos: 
            </label><br>
            <button class="btn btn-info" style="margin-left: 3px"><i class="fa fa-eye"></i>Ver Fotografías de documentación</button> <br>     
            

            <label>
                Fotografias del negocio:  
            </label><br>
            <button class="btn btn-info" style="margin-left: 3px"><i class="fa fa-eye"></i>Ver Fotografías de negocio</button><br> 
            
        </form>
    </div>
</div>    

<hr>
<h4>Paso 3. Datos del Solicitante</h4>


<!-- Contenido  -->
<div class="row">
    <div class="col-lg-8">
        <form  class="" id="investigacionesForm">

            <h5>Me podría proporcionar los siguientes datos por favor: </h5>

            <label>
                Fecha de Nacimiento: 
            </label>
            <input type="date"   class="form-control" name="nombre" required>

            <label>
                Edad: 
            </label>
            <input type="text"   class="form-control" required>

            <label>
                Estado civil: 
            </label>
            <select class="form-control m-bot15 " name="edocivil" required>
                    <option value="casado">Casado(a)</option>
                    <option value="soltero">Soltero(a)</option> 
                    <option value="viudo">Viudo(a)</option> 
                    <option value="divorciado">Divorciado(a)</option> 
                    <option value="unionlibre">Unión Libre</option> 
            </select>

            <br>
            <h4>Domicilio del Hogar</h4>

            <label>
               Calle: 
            </label>
            <input type="text"  class="form-control" required>

            <label>
                Número Exterior: 
            </label>
            <input type="text" class="form-control" maxLength="5" minLength="4" required> 
            
            <label>
                Número Interior: 
            </label>
                <input type="text" class="form-control" maxLength="5" minLength="4" required>

            <label>
                Colonia:
            </label>
            <input type="text" class="form-control" required>

            <label>
                Municipio: 
            </label>
            <input type="text" class="form-control" required>
    
            <label>
                Estado:
            </label>
            <select name="estados"   class="form-control m-bot15" required>
                    <option value="AGUASCALIENTES">Aguascalientes</option>
                            <option value="BAJA CALIFORNIA">Baja California</option>
                            <option value="BAJA CALIFORNIA SUR">Baja California Sur</option>
                            <option value="CAMPECHE">Campeche</option>
                            <option value="COAHUILA DE ZARAGOZA">Coahuila de Zaragoza</option>
                            <option value="COLIMA">Colima</option>
                            <option value="CHIAPAS">Chiapas</option>
                            <option value="CHIHUAHUA">Chihuahua</option>
                            <option value="DISTRITO FEDERAL">Distrito Federal</option>
                            <option value="DURANGO">Durango</option>
                            <option value="GUANAJUATO">Guanajuato</option>
                            <option value="GUERRERO">Guerrero</option>
                            <option value="HIDALGO">Hidalgo</option>
                            <option value="JALISCO">Jalisco</option>
                            <option value="MEXICO">México</option>
                            <option value="MICHOACAN DE OCAMPO">Michoacán de Ocampo</option>
                            <option value="MORELOS">Morelos</option>
                            <option value="NAYARIT">Nayarit</option>
                            <option value="NUEVO LEON">Nuevo León</option>       
                            <option value="OAXACA">Oaxaca</option>
                            <option value="PUEBLA">Puebla</option>
                            <option value="QUERETARO">Querétaro</option>
                            <option value="QUINTANA ROO">Quintana Roo</option>
                            <option value="SAN LUIS POTOSI">San Luis Potosí</option>
                            <option value="SINALOA">Sinaloa</option>
                            <option value="SONORA">Sonora</option>
                            <option value="TABASCO">Tabasco</option>
                            <option value="TAMAULIPAS">Tamaulipas</option>
                            <option value="TLAXCALA">Tlaxcala</option>
                            <option value="VERACRUZ">Veracruz</option>
                            <option value="YUCATAN">Yucatán</option>
                            <option value="ZACATECAS">Zacatecas</option>
                </select>

            <label>
                Población:
            </label>
            <input type="text" class="form-control" required> 

            <label>
                Teléfono de Casa:
                </label>
                <input type="text" class="form-control" required>

                <hr>
            
            <label>
                Su domicilio es:
            </label>
            <select class="form-control m-bot15 " name="propietario" required>
                    <option value="propio">Propio</option>
                    <option value="rentado">Rentado</option>
                    <option value="casafam">Casa Familiar</option>                     
            </select>

            <label>
                ¿Cuantos dependientes económicos tiene?
            </label>
            <input type="text" class="form-control" required>

            <label>
                ¿Cuanto es el monto de credito que esta solicitando?
            </label>
            <input type="text" class="form-control" required>

            <label>
                ¿Que tipo de comprobante de domicilio envió dentro de su documentacion solicitada por nuestros gestores?
            </label>
            <select class="form-control m-bot15" name="comprobate" required>
                <option value="luz">Luz</option>
                <option value="agua">Agua</option>
                <option value="tel">Teléfono</option>
            </select>
   
                <hr> 
            <h4>Paso 4.Información del comercio o negocio</h4>

            <label>¿Me puede dar la Dirección y Ubicación?</label>
            <br>

            <label>Calle </label>
            <input type="text" class="form-control" required>

            <label>Número Exterior</label>
            <input type="text" class="form-control" required>

            <label>Número Interior</label>
            <input type="text" class="form-control" required>

            <label>Colonia</label>
            <input type="text" class="form-control" required>

            <label>Municipio</label>
            <input type="text" class="form-control" required>

            <label>Estado</label>        
            <select name="estados"   class="form-control m-bot15" required>
                    <option value="AGUASCALIENTES">Aguascalientes</option>
                            <option value="BAJA CALIFORNIA">Baja California</option>
                            <option value="BAJA CALIFORNIA SUR">Baja California Sur</option>
                            <option value="CAMPECHE">Campeche</option>
                            <option value="COAHUILA DE ZARAGOZA">Coahuila de Zaragoza</option>
                            <option value="COLIMA">Colima</option>
                            <option value="CHIAPAS">Chiapas</option>
                            <option value="CHIHUAHUA">Chihuahua</option>
                            <option value="DISTRITO FEDERAL">Distrito Federal</option>
                            <option value="DURANGO">Durango</option>
                            <option value="GUANAJUATO">Guanajuato</option>
                            <option value="GUERRERO">Guerrero</option>
                            <option value="HIDALGO">Hidalgo</option>
                            <option value="JALISCO">Jalisco</option>
                            <option value="MEXICO">México</option>
                            <option value="MICHOACAN DE OCAMPO">Michoacán de Ocampo</option>
                            <option value="MORELOS">Morelos</option>
                            <option value="NAYARIT">Nayarit</option>
                            <option value="NUEVO LEON">Nuevo León</option>       
                            <option value="OAXACA">Oaxaca</option>
                            <option value="PUEBLA">Puebla</option>
                            <option value="QUERETARO">Querétaro</option>
                            <option value="QUINTANA ROO">Quintana Roo</option>
                            <option value="SAN LUIS POTOSI">San Luis Potosí</option>
                            <option value="SINALOA">Sinaloa</option>
                            <option value="SONORA">Sonora</option>
                            <option value="TABASCO">Tabasco</option>
                            <option value="TAMAULIPAS">Tamaulipas</option>
                            <option value="TLAXCALA">Tlaxcala</option>
                            <option value="VERACRUZ">Veracruz</option>
                            <option value="YUCATAN">Yucatán</option>
                            <option value="ZACATECAS">Zacatecas</option>
            </select>

                <label>Población</label>
                <input type="text" class="form-control" required>

                <label>¿Cual es el horario en el que laboran en su comercio, o en el que podemos localizarlo?</label>
                <input type="time" class="form-control" required>

                <hr>

                <h4>Paso 5.Información del aval y referencia familiar</h4>

                <label>Me proporciona el nombre completo de su aval</label>
                <input type="text" class="form-control" required>

                <label>¿Cuanto tiempo tiene de conocer a su aval?</label>
                <input type="text" class="form-control" required>

                <label>¿Me puede brindar el número telefonico de su aval?</label>
                <input type="text" class="form-control" required>

                <label>¿Me puede dar el Nombre de una referencia familiar que cuente con número telefonico
                    y sea mayor de edad, por favor?</label>
                <input type="text" class="form-control" required>

                <label>¿Cual es el parentezco que tiene con dicho familiar?</label>
                <input type="text" class="form-control" required>

                <label>Número telefonico de su familiar</label>
                <input type="text" class="form-control" required>

                <hr>
                <h4>Como dato de calidad, nos gustaría saber como obtuvo información de nuestra empresa</h4>
    
                <select class="form-control m-bot15" name="comprobate" required>
                        <option value="volante">Por Volanteo</option>
                        <option value="recomendacion">Recomendación del alguno de nuestros clientes</option>
                        <option value="sucursal">Le brindaron información en la Sucursal</option>
                        <option value="otro">Otro</option>
                </select>          

                <br>
                <textarea name="" id="" cols="30" rows="5"></textarea>

                <br><br>
            <!-- boton guardar -->
            <input  type="submit" value="Registrar"  class="btn btn-success" name="guardar" title="Registrar">
            <button class="btn btn-primary" style="margin-left: 3px">Limpiar Formulario</button>

            </form>

    </div>
</div>    