 <!-- titulo -->
 <div class="row">
  <div class="col-lg-12">
      <h3 class="page-header"><i class="fa fa-user"></i> Tipo de crédito </h3>
  </div>
</div>


<!-- Contenido  -->
<div class="row">
  <div class="row">
      <!-- Inicio tabla -->
      <div class="col-lg-12">
              <section class="panel"> 
              <div class="table-responsive">
                  <a type="submit" value="Nuevo Crédito"  class="btn btn-success" name="guardar" title="Registrar"><i class="fa fa-plus"></i>  Agregar Tipo</a>
                  <br><br>
                  <table class="table">
                      <tbody>
                      <tr>
                          <th><i class="fa fa-info"></i> Descripción</th> 
                          <th><i class="fa fa-sort-numeric-asc"></i>Tipo de Crédito</th> 
                          <th><i class="fa fa-dollar"></i> Pagos</th>  
                          <th><i class="fa fa-line-chart"></i> Interés</th>
                          <th><i class="fa fa-check"></i> Status</th>
                      </tr>
                      </tbody>
                  </table>
              </div>
              </section>
        </div> 
    </div>        
</div>  
